#helpInfo .fa-question, h5 {
    opacity: 0.5;
}

#helpInfo h5:hover {
    opacity: 1;
}

#usersInput {
    padding: 4px 10px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

#usersInput::placeholder {
    font-style: italic;
}
 
#usersInput, #addTaskBtn {
    width: 30%;
}

#taskListDiv {
    max-height: 40vh;
    margin-bottom: 10px;
}

.red-btn i {
    color: red;
}

.opacity-30 i {
    opacity: 0.3;
}

.invisible-border-left {
    border-left: 1.5px solid #ffffff00;
}

.done-task {
    background-color: rgb(44, 165, 74, 0.3);
    text-decoration: line-through;
}

.border-left-green {
    border-left: 1.5px solid rgb(44, 165, 74);
}

.important-task {
    color: red;
    background-color: #ff000030;
}

.border-left-red {
    border-left: 1.5px solid red;
}


/* Custom class, unable to overide bootstrap list-group-item class. */
.list-item {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
}

#priority {
    height: 27vh;
    width: fit-content;
}

.down-fade {
    display: block;
    position: absolute;
    z-index: 1;
    padding: 12px 20px;
    border-radius: 5px;
    background-color: #fff;
    animation: downFade ease 0.6s;
}

.rotate-90 {
    animation: rotate90 ease 0.15s;
    transform: rotate(90deg);
}

.reverse-90 {
    animation: reverse90 ease 0.15s;
    transform: rotate(0);
}

/* ANIMATIONS */

@keyframes downFade {
    from {
        opacity: 0;
        transform: translateY(-5px);
    } 
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes rotate90 {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(90deg);
    }
}

@keyframes reverse90 {
    from {
        transform: rotate(90deg);
    }
    to {
        transform: rotate(0);
    }
}

