#helpToggler, #modalToggler, #saveLoad .fa-gears {
    opacity: 0.5;
}

#helpInfo h5:hover {
    opacity: 1;
}

#addingTasks kbd {
    background-color: lightgray;
    color: #000;
}

#priority {
    height: 150px;
    width: fit-content;
}

.alert {
    z-index: 1;
}

#usersInput {
    padding: 4px 10px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

#usersInput::placeholder {
    font-style: italic;
}
 
#usersInput, #addTaskBtn {
    width: 30%;
}

#taskListDiv {
    max-height: 40vh;
    margin-bottom: 10px;
}

#bttBtn {
    color: #388eff;
    height: 40px;
    width: 60%;
    background-color: rgba(255, 255, 255, 0.9);
    border: #388eff7e solid 1px;
    border-radius: 5px;
}

.red-btn i {
    color: red;
}

.opacity-30 i {
    opacity: 0.3;
}

.invisible-border-left {
    border-left: 1.5px solid #ffffff00;
}

.done-task {
    background-color: rgb(44, 165, 74, 0.3);
    text-decoration: line-through;
}

.border-left-green {
    border-left: 1.5px solid rgb(44, 165, 74);
}

.important-task {
    color: red;
    background-color: #ff000030;
}

.border-left-red {
    border-left: 1.5px solid red;
}


/* Custom class, unable to overide bootstrap list-group-item class. */
.list-item {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
}

.down-fade {
    display: block;
    position: absolute;
    z-index: 1;
    padding: 12px 20px;
    border-radius: 5px;
    background-color: #fff;
    animation: downFade ease 0.6s;
}

.rotate-90 {
    animation: rotate90 ease 0.15s;
    transform: rotate(90deg);
}

.reverse-90 {
    animation: reverse90 ease 0.15s;
    transform: rotate(0);
}

.fade-in {
    animation: fadeIn ease 0.7s;
}

/* ANIMATIONS */

@keyframes downFade {
    from {
        opacity: 0;
        transform: translateY(-5px);
    } 
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes rotate90 {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(90deg);
    }
}

@keyframes reverse90 {
    from {
        transform: rotate(90deg);
    }
    to {
        transform: rotate(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}

/* MEDIA QUERIES */

/* For screens 912px wide */
@media (max-width: 912px) {
    #taskListDiv {
        max-height: 70vh;
    }

    #usersInput, #addTaskBtn {
        width: 43%;
    }    
}

/* For screens 540px wide */
@media (max-width: 540px) {
    body {
        font-size: 1.4rem;
    }

    #usersInput, #addTaskBtn {
        width: 60%;
    }

    #usersInput::placeholder {
        font-size: 85%;
    }

    #tableHeaders {
        display: none;
    }

    #taskListDiv {
        max-height: 60vh;
    }

    .border-left-green, .border-left-red, .invisible-border-left {
        border-left: none;
    }

    .w-48 {
        width: 48%;
    }

    #taskListDiv ul {
        border-bottom: 2px solid rgb(220, 220, 220);
    }

    .alert {
        font-size: 0.9rem;
    }

    .alert :nth-child(1) {
        font-size: 1.3rem;
    }

    #priority {
        height: 20vh;
    }
}

/* For screens 414px wide */
@media (max-width: 414px) {
    #usersInput::placeholder {
        font-size: 70%;
    }

    #taskListDiv {
        max-height: 50vh;
    }

    .alert {
        font-size: 0.85rem;
    }

    #bttBtn {
        width: 100%;
    }
}

/* For screens 375px wide */
@media (max-width: 375px) {
    #taskListDiv {
        max-height: 48vh;
    }

    #usersInput::placeholder {
        font-size: 60%;
    }

    #h1 {
        font-size: 2.2rem;
    }

    .alert {
        font-size: 0.9rem;
    }
}

/* For screens 360px wide */
@media (max-width: 360px) {
    #taskListDiv {
        max-height: 44vh;
    }
}

/* For screens 280px wide */
@media (max-width: 280px) {
    body {
        font-size: 1.2rem;
    }

    #h1 {
        font-size: 1.9rem;
    }

    #taskListDiv {
        max-height: 60vh;
    }

    #usersInput, #addTaskBtn {
        width: 70%;
    }

    .alert {
        font-size: 0.8rem;
    }

    .alert :nth-child(1) {
        font-size: 1.5rem;
    }
}